p,h1{
  font-family: "Robot slab", Times, serif;
  font-size: 24px;
}
.button{
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
  position: relative;

}


.ui.huge.menu{
	background-color: red;
  font-family: "Roboto slab", Times, serif;
	
}
 .form{
  text-align: center;
  margin-left: 350px;
  margin-right: 350px;
  position: relative;
 }


#order {
  width: 666px;
  height: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  
}
.container{
  background-color: #85144b;
  height: 100%;
}

.backgroundImage{
  background-image: url("./thinking.jpg");
  height: 100%;
} 

.login-form{
    border: none;
    
 
}

#order {
  width: 619px;
  height: 38px;
}